<div class="container-fluid col-sm-12">
  <img src="assets/img/lisa.png" alt="Image Description" width="100%" height="80px">
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/home"
            [ngStyle]="{'background-color': isActive('/home') ? 'blue' : 'transparent'}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/adduser"
            [ngStyle]="{'background-color': isActive('/adduser') ? 'blue' : 'transparent'}">ADD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" routerLink="/editPage"
            [ngStyle]="{'background-color': isActive('/editPage') ? 'blue' : 'transparent'}">EDIT</a>
        </li>       
      </ul>
    </div>

  </div>
</nav>